@import "../../utils/variables.scss";

.menu-mobile {
  position: absolute;
  left: -100px;
  top: $header-height;
  width: 100px;
  height: calc(100% - #{$header-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background: linear-gradient(0deg, #00f260 0%, #0575e6 100%);
  background: white;
  border-radius: 0% 50% 350% 0%;
  perspective: 800px;
  transition: $mobile-menu-transition;
  z-index: $mobile-menu-z-i;
}

.menu-mobile_opened {
  width: 100%;
  left: 0;
  border-radius: 0% 0% 0% 0%;
  // background: linear-gradient(180deg, #9b22eb 0%, #e605c8 100%);
  // background: black;
}

.menu-mobile__list {
  opacity: 0;
  transform: rotateY(-120deg) translateX(-300px);
  transition: $mobile-menu-transition;
}

.menu-mobile__list_opened {
  opacity: 1;
  transform: rotateY(0) translateX(0);
}

.menu-mobile__item {
  color: black;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-transform: uppercase;
  // border-bottom: 1px solid white;
  cursor: pointer;

  &:hover {
    color: black;
  }
}
