@import "../../utils/variables.scss";

.menu-mobile {
  position: fixed;
  left: -100px;
  top: $header-height;
  width: 100px;
  height: calc(100vh - #{$header-height});
  height: calc(var(--vh) * 100 - #{$header-height});
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $main-bg;
  border-radius: 0% 50% 350% 0%;
  perspective: 800px;
  transition: $mobile-menu-transition;
  z-index: $mobile-menu-z-i;
}

.menu-mobile_opened {
  width: 100%;
  left: 0;
  border-radius: 0% 0% 0% 0%;
}

.menu-mobile__list {
  opacity: 0;
  transform: rotateY(-90deg) translateX(-300px);
  transition: $mobile-menu-transition;
}

.menu-mobile__list_opened {
  opacity: 1;
  transform: rotateY(0) translateX(0);
}

.menu-mobile__item {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-transform: uppercase;
  cursor: pointer;

  &:active {
    color: $main-hover-color;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $main-hover-color;
    }
  }
}
