@import "../../utils/variables.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  z-index: $header-z-i;
  background: $header-bg;
  transition: $mobile-menu-transition;
  border-bottom: 1px solid $main-color;

  &.header_opaque {
    background: $header-bg-opaque;
  }
}

.header__inner {
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (max-width: 767px) {
    width: 80%;
  }
}

.header__logo {
  display: flex;
  margin-right: 5rem;
  cursor: pointer;
}

.header__logo-icon {
  fill: $main-color;
  height: calc(#{$header-height} * 0.7);
  width: calc(#{$header-height} * 0.7);
  transition: $main-transition;

  &:active {
    fill: $main-hover-color;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      fill: $main-hover-color;
    }
  }
}

.header__menu {
  display: flex;

  @media (max-width: 767px) {
    display: none;
  }
}

.header__menu-item {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-right: 2.5rem;
  cursor: pointer;
  transition: $main-transition;

  &:active {
    color: $main-hover-color;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $main-hover-color;
    }
  }
}
