// fonts
$main-font: "PT Sans Narrow", sans-serif;
$secondary-font: "PT Sans Narrow", sans-serif;
// $alternaive-font: "ljk_Downcome", sans-serif;
// $alternaive-font: "condens_bold_regular", sans-serif;
// $alternaive-font: "amaz_stalker", sans-serif;
// $alternaive-font: "ds-narrow", sans-serif;
// $alternaive-font: "ljk_roadkill", sans-serif;

// metrics
$header-height: 60px;
$main-slider-mobile-height: calc(var(--vh) * 80);
$initial-main-slider-navigation-item-height: 56px;
$initial-main-slider-navigation-item-width: 100px;
$initial-gallery-slider-navigation-item-height: 168px;
$initial-gallery-slider-navigation-item-width: 300px;

// colors
$main-bg-from: #e605c8;
$main-bg-to: #9b22eb;
$main-bg: linear-gradient(90deg, $main-bg-from, $main-bg-to);
$main-color: #f0fff0;
// $main-hover-color: #eece1a;
// $main-hover-color: #04ad79;
$main-hover-color: #fd7400;
$table-color: #1a1a1a;
$modal-bg-color: #1a1a1a;
// $main-bg: #383838;
// $main-bg: #004358;
// $main-bg: #521779;
$header-bg: linear-gradient(90deg, rgba($main-bg-from, 0.5), rgba($main-bg-to, 0.5));
$header-bg-opaque: linear-gradient(90deg, rgba($main-bg-from, 1), rgba($main-bg-to, 1));
$main-slider-description-bg: linear-gradient(
  90deg,
  rgba($main-bg-from, 0.5),
  rgba($main-bg-to, 0.5)
);

// transitions
$main-transition: all 0.2s ease-out;
$menu-btn-transition: all 0.5s ease-out;
$mobile-menu-transition: all 0.8s cubic-bezier(0.9, 0, 0.33, 1);
$change-slides-transition-duration: 500;

// z-i
$header-z-i: 11;
$mobile-menu-z-i: 12;
$main-slider-nav-z-i: 10;
$contacts-info-z-i: 10;
$close-panorama-btn-z-i: 10;
$our-services-bg-z-i: 9;
$our-services-about-us-z-i: 10;
$our-services-list-z-i: 10;
$gallery-slider-z-i: 13;

:export {
  changeSlidesTransitionDuration: $change-slides-transition-duration;
  headerHeight: $header-height;
}
