@import "./utils/_reset.css";

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

@import "./utils/variables.scss";

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  box-sizing: border-box;
}

input {
  user-select: auto;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $main-color;
  background: $main-bg;
}
